name : Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron : '30 9 * * 0'
    - cron : '15 10 * * 0'

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6.0.0

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.0.0
        with:
          node version: '22'

      - name: Install Newman and Html Extra
        run: |
             npm install -g newman
             npm install -g newman-reporter-htmlextra

      - name: Run Collection
        run: |
             newman run 'Inwarranty-flow Collection.postman_collection.json' \
             -e QA.postman_environment.json \
             -d testData.csv \
             -r cli,htmlextra

      - name: Upload Newman Report
        if: always()
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Newman Report
          path: newman/*.html


      - name: Creating github page Actions
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman\
